body{
  background:#B3B3B3;
  font-size:150%;
  margin: 4%;
}
a{
  display:block;
  font-weight:BOLD;
  color:#ffffff;
  background:#0006cc;
  width:200px;
  text-align: center;
  padding:4px;
  margin:0 auto;
  margin-top:10px;
 }
a:hover{
  background:#B3B3B3;
  color:0006cc;
}
a:focus{
  background:#B3B3B3;
  color:0006cc;
}
a:active{
  border:3px solid #000000;
}
header{
  background:#FFC0CB;
  text-align: center;
  padding:15px;
}
section{
  width: 30%;
  display:inline-block;
  float: left;
  margin-right:2%;
}
img{
  width:75px;
}